/* WIdget styles */
.social-profile-link-elements {
  margin-top: 5px;
}
.social-profile-link-elements .form-item {
  float: left;
}
.social-profile-link-elements .form-type-textfield input {
  height: 23px;
  margin: 0 0 0 7px;
  padding: 2px 4px;
  border: 1px solid #999;
  border-radius: 5px;
}
.social-profile-link-elements .form-type-textfield input.error {
  border-color: red;
  border-width: 2px;
}
.social-profile-link-elements .form-type-textfield input::-webkit-input-placeholder {
  color: #999;
}
.social-profile-link-elements .form-type-textfield input:-moz-placeholder {
  color: #999;
}
.social-profile-link-elements .form-type-textfield input:-ms-input-placeholder {
  color: #999;
}
.spl-select {
  /* This is the container of the new select element */
  display: inline-block;
  min-width: 150px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.spl-select .spl-box {
  position: absolute;
  border: solid 1px #999 !important;
  background-color: #FFF !important;
  overflow: hidden;
  border-radius: 5px;
}
.spl-select .spl-box.expanded {
  border-radius: 5px 5px 0 0;
}
.spl-select .spl-box div:after {
content: "\25BC";
  position: absolute;
  right: 3px;
  top: 3px;
  color: #999;
}
.spl-select .spl-box:hover,
.spl-select .spl-box.expanded{
  color: #2c5667;
}
.spl-select .spl-dropdown {
  padding: 0;
  position: absolute;
  top: 29px;
  left: 0;
  min-width: 147px;
  list-style:none;
  margin: 0;
  z-index: 5;
  border: 1px solid #999;
  border-radius: 0 0 7px 7px;
  background-color: #FFF;
  overflow: hidden;
  box-shadow: #999 1px 2px 2px;
  margin-bottom: 10px;
}

.spl-select .spl-box, 
.spl-select li {
  cursor: pointer;
  position: relative;
  background: transparent no-repeat 7px 7px;
  border-top: 1px solid #ccc;
  height: 28px;
  padding-left: 24px;
  font-size: 14px;
}
.spl-select li:hover{
  background-color: #EFDBBE;
}
.spl-select .spl-empty {
  padding-left: 8px;
  color: #999;
}
.spl-select .spl-box div, 
.spl-select li div {
  margin: 5px;
}


/* Formater styles */
div.spl-icons {

}
.spl-icons.spl-size-16x16 img {
 margin-right: 2px;
}
.spl-icons.spl-size-32x32 img {
 margin-right: 5px;
}
.spl-icons.spl-size-48x48 img {
 margin-right: 9px;
}
.spl-icons img {
  opacity: 0.8;
}
.spl-icons img:hover {
  opacity: 1;
}